<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>OpenAuth开源框架</title>
    <meta name="Keywords" content="OpenAuth开源框架">
    <meta name="Description" content="OpenAuth开源框架">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_tnyc012u2rlwstt9.css" media="all" />

    <script src="~/js/vue2.6.10.js"></script>
    <script src="~/js/axios/axios.min.js"></script>
    <script src="~/js/vue2-editor/dist/vue2-editor.js"></script>
    <script type="text/javascript" src="~/js/general.js"></script>

    <!-- 引入样式 -->
    <link rel="stylesheet" href="~/js/element-ui/lib/theme-chalk/index.css">
    <script src="~/js/element-ui/lib/index.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-1.11.1.min.js"></script>
    <style>

        .main {
            margin-left: 10px;
            margin-right: 10px;
        }

        .tabdiv {
            padding-left: 8px;
            padding-right: 8px;
        }

        .backdiv {
            margin-bottom: 15px;
            border-radius: 3px;
            box-shadow: 3px 2px 6px #d4cece;
            padding: 8px;
        }

        .summaryText {
            padding-left: 10px;
            padding-bottom: 10px;
        }

        .borderTable {
            border: 2px solid #8c939d;
            margin-bottom: 15px;
        }

        .block {
            text-align: center;
            align-content: center;
            margin: 5px;
        }

        .fontblock {
            text-align: center;
            margin: 5px;
            padding-top: 7px;
        }

        .tableHeadColor {
            background-color: lightblue;
        }

        .bigfont {
            font-size: 20px;
        }

        .el-tree-node__expand-icon {
            cursor: pointer;
            color: #3396d8;
            font-size: 22px;
        }

        .el-tree-node__content {
            cursor: pointer;
            height: 50px;
        }
    </style>
    @RenderSection("header", false)
</head>
<body class="childrenBody">
    @RenderBody()
    <script>
        if (/Android|webOS|iPhone|iPod|BlackBerry/i.test(navigator.userAgent)) {
            $(".container").css("min-width", "1000px");
            $(".container").css("min-height", "500px");
        }
    </script>
</body>
</html>