
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h3>缓存时间: @ViewData["CacheTime"]</h3>
    <h3>服务器端口: @ViewData["Port"]</h3>
    <h3>请求次数: @ViewData["RequestTimes"]</h3>
</body>
</html>
