@section header
{
    <link rel="stylesheet" href="/css/treetable.css" />
    <link rel="stylesheet" href="/js/dtree/dtree.css" />
    <link rel="stylesheet" href="/js/dtree/font/dtreefont.css" />
}

@*<h3>缓存时间: @ViewData["CacheTime"]</h3>
    <h3>服务器端口: @ViewData["Port"]</h3>
    <h3>请求次数: @ViewData["RequestTimes"]</h3>*@
<form class="layui-form" action="" id="mfromEdit">
    <div class="layui-form-item">
        <button class="layui-btn" lay-submit lay-filter="openSub">开启数据追踪</button>
        <button class="layui-btn" lay-submit lay-filter="closeSub">关闭数据追踪</button>
    </div>
</form>
<script type="text/javascript" src="/layui/layui.js"></script>
<script type="text/javascript" src="/userJs/diary.js"></script>
